<h1>Scheduled job failure!</h1>
<p><%= @subj %></p>
<br>
<p><strong>Message:</strong> <%= @err.message %></p>
<br>
<p><strong>Backtrace:</strong> <%= @err.backtrace %></p>
<br>
<p>Thank you, Please do not reply to this email.</p>
