@use '../variables/colours' as *;

div.dmpui-authentication-page .c-login {
  margin: 45px auto 65px auto;
}

.c-login {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
  inline-size: clamp(18rem, 35vw, 22rem);
  padding: var(--space-base);
  border: 1px solid var(--color-blue-dark);

  form {
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
  }

  [aria-disabled='true'] {
    // #1
    border: 1px solid var(--color-grey);
    background-color: var(--color-grey);
    cursor: not-allowed;
  }

  p {
    margin: 0;
  }

  .c-serialnav {
    margin-inline-end: auto;
  }
}

.c-login__header {

  h2 {
    margin-block-start: 0;
    margin-block-end: var(--space-sm);
    color: var(--color-blue-dark);
    font-size: 1.2rem;
  }
}

.c-login__required-field {
  font-size: 0.9rem;
  font-style: italic;
  text-align: end;

  &::before {
    content: '* ';
    color: var(--color-red);
  }

  &[hidden] {
    display: none;
  }
}

.c-login__invalid-notification {
  display: flex;
  align-items: center;
  color: var(--color-red);
}

.c-login__invalid-notification.errors-fixed {
  color: var(--color-green);
}

.c-login__pseudo-description {
  // #2
  margin-block-start: -var(--space-base);
  font-size: 0.9rem;
}

.c-login__footer {
  margin-block-start: auto;
  margin-inline-start: auto;
}

.c-textfield {
  label {
    display: block;
    font-weight: 600;
  }

  label em {
    // #1
    font-style: normal;
    font-weight: normal;
  }

  input {
    inline-size: 100%;
    padding: 0.3rem;
    margin-block: 0.2rem;
    border: 1px solid var(--color-black);
    line-height: 1;
  }

  // 'read-only' state:

  [aria-disabled='true']:read-only {
    // #2
    background-color: var(--color-grey);
  }
}

.c-textfield__general-description {
  font-size: 0.9rem;
}

// 'required' state:

.c-textfield.is-required {

  label::after {
    content: ' *';
    color: var(--color-red);
  }
}

// 'invalid' state:

.c-textfield.is-invalid {
  --border-width: 5px;

  margin-inline: calc(#{-var(--space-sm)} + var(--border-width) * -1);
  padding-inline: var(--space-sm);
  border-left: var(--border-width) solid var(--color-red);

  input {
    inline-size: calc(100% - var(--border-width));
  }

  [aria-invalid='true'] {
    border: 1px solid var(--color-red);
  }
}

.c-textfield__invalid-description {
  color: var(--color-red);

  &[hidden] {
    display: none;
  }
}