@use '../variables/colours' as *;

.question-body .guidance-section {
  border-left: 5px solid var(--color-primary-background);
}

.question-body .question-section .toggle-guidance-section {
  background-color: var(--color-primary-background);
}

.nav-pills>li.active>a {
  background-color: var(--color-secondary-background);
  border-color: var(--color-primary-background);
  color: var(--color-secondary-text);
}

.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: var(--color-primary-background);
  border-color: var(--color-primary-background);
  color: var(--color-primary-text);
}