/* Light theme by default, dark theme if system dark mode active */

/***** Klaro cookie notice CSS classes with custom styles *****/

/* Modal body */

.cookie-notice {
  --color-blue-klaro: lab(33.3212% -6.19455 -32.4883);
  --color-gold-klaro: lab(75.9472% 18.2781 84.2191);
  --color-tan-klaro: lab(93.8273% .513971 2.25042);
  --color-black-blue-klaro: lab(11.4666% -3.50666 -16.1963);
  --color-light-blue-klaro: lab(66.007% -23.4347 -43.451);

  position: fixed;
  inset: auto 0 0;
  z-index: 999;
  background-color: var(--modal-bg);
}

/* Text */

.cn-body {
  padding: 1.5rem;
  color: var(--main-text);
  font-size: medium;

  h1 {
    margin-block: 0 1rem;
    color: currentcolor;
    font-size: 1.3rem;
    font-weight: 600;
  }

  p {
    color: currentcolor;
    line-height: 1.5;
  }

  a {
    color: var(--link-text);
    text-decoration: underline;
  }

  > p {
    margin: 0;
  }
}

/* Button main container */

.cn-buttons {
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 3vw, 2rem);
  margin-block-start: 1.5rem;
}

/* Both buttons */

.cm-btn {
  flex-basis: 50%;
  max-inline-size: 15rem;
  padding: 0.7rem;
  border-radius: 4px;
  font-family: inherit;
  font-size: 100%;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

/* Individual buttons */

.cm-btn-danger {
  border: 1px solid var(--main-text);
  background-color: transparent;
  color: var(--main-text);
}

.cm-btn-success {
  border: 1px solid var(--button-success-bg);
  background-color: var(--button-success-bg);
  color: var(--button-success-text);
}

@media (width >= 64rem) {
  .cookie-notice {
    inset: auto 1.5rem 1.5rem auto;
    max-inline-size: 37rem;
    box-shadow: 0.3rem 0.3rem 0.6rem lab(0% 0 0 / .4);
  }
}


.cookie-notice {
  --modal-bg: var(--color-tan-klaro);
  --main-text: black;
  --link-text: var(--color-blue-klaro);
  --button-success-bg: var(--color-blue-klaro);
  --button-success-text: white;
}

@media (prefers-color-scheme: dark) {
  .cookie-notice {
    --modal-bg: var(--color-black-blue-klaro);
    --main-text: white;
    --link-text: var(--color-light-blue-klaro);
    --button-success-bg: var(--color-gold-klaro);
    --button-success-text: black;
  }
}
