@use '../variables/colours' as *;

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  border-color: var(--color-primary-background);
}

.form-inline .input-group .form-control {
  background-color: var(--color-secondary-background);
  color: var(--color-black);
  border-color: var(--color-primary-background);
}

#search-addon .fa-search {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  border-color: var(--color-primary-background);
}

.form-inline .btn-default,
.form-inline .btn-default:hover,
.form-inline .btn-default:focus {
  margin-bottom: 5px;
}