@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.c-skipnav {
  color: #fff !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  // TODO:: Use proper colour names here and replace the values for our
  // components with those.

  --dmpui-brand-gray-100: #f2f2f2;

  --dmpui-brand-blue-100: #f0fbff;
  --dmpui-brand-blue-200: #eff6ff;

  --dmpui-brand-blue-400: #54d8ff;
  --dmpui-brand-blue-500: #004eaa;
  //--dmpui-brand-blue-600: #000;
  //--dmpui-brand-blue-700: #000;
  --dmpui-brand-blue-800: #0c0b57;
  --dmpui-brand-blue-900: #05042e;

  --dmpui-brand-red-500: #d3273e;

  --dmpui-brand-yellow-100: #fefce8;
  --dmpui-brand-yellow-500: #ffc845;

  --dmpui-brand-green-100: #f0fdf4;
  --dmpui-brand-green-500: #006c6c;

  /* Root level css variables go here */
  --btn-font-family: "Poppins", sans-serif;
  --btn-basic-bg-color: #ddd;
  --btn-basic-fg-color: #333;
  --btn-border-radius: 20px;

  --btn-primary-bg-color: #05042e;
  --btn-primary-fg-color: white;

  /* Form components */
  --form-field-label-color: #050a69;
  --form-field-bg-color: white;
  --form-field-fg-color: #333;
  --form-field-border-color: #e1e1e1;

  --input-required-color: var(--dmpui-brand-red-500);
  --error-color: var(--dmpui-brand-red-500);

  /* Data Grid */
  --grid-gap: 1rem;
  --grid-row-selected-bg: var(--dmpui-brand-gray-100);
  --grid-row-selected-fg: var(--dmpui-brand-blue-900);
}

#App {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--dmpui-brand-blue-900);
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  h1,
  .h1 {
    font-size: 1.875rem;
  }

  h2,
  .h2 {
    font-size: 1.5625rem;
  }

  h3,
  .h3 {
    font-size: 1.125rem;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--dmpui-brand-blue-900);
  }

  a {
    color: var(--dmpui-brand-blue-500);

    &:hover {
      text-decoration: underline;
      outline-offset: 2px;
      color: var(--dmpui-brand-blue-900);
    }

    &:focus {
      outline-offset: 2px;
      color: #000;
      background-color: #fd0;
      box-shadow: 0 -2px 0px 0px rgba(255, 221, 0, 0.281),
        0 4px rgba(255, 221, 0, 0.281);
      text-decoration: none;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      outline: none !important;
      text-decoration: underline;
    }
  }
}

.todo {
  --_color-todo: var(--color-todo, #700);

  position: relative;
  border: 1px dashed var(--_color-todo);
}

.todo:after {
  content: "todo";
  position: absolute;
  background-color: var(--_color-todo);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 0.25em;
  top: 0;
  right: 0;
}

body {
  /* TODO:: */
}