@use '../variables/colours' as *;

/*
---------------------------------------------------------------
OVERRIDES FOR BOOTSTRAP AND DMPROADMAP STYLING
  briley Dec. 12 2023

  Includes pulling in some of the old UI code's for the
  Public Plans page.
---------------------------------------------------------------
*/
html {
  font-size: var(--dmpui-frontend-font-size-base);
}

body {
  font-size: var(--dmpui-frontend-font-size-base);
  line-height: 1.45;
}

.hidden {
  display: none;
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.underlined {
  text-decoration: underline;
}

.fineprint {
  font-size: 0.8rem;
}

div.dmpui-field-fileinput-group input[type='file'] {
  opacity: 100%;
}

/* Dropdown menus */
.dmpui-dropdown {
  position: relative;
  display: inline-block;
}

.dmpui-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  background-color: var(--color-blue);
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px var(--color-blue-dark);
  padding: 12px 16px;
  z-index: 100;
}

.dmpui-dropdown:hover .dmpui-dropdown-content {
  display: block;
}

/* Pagination links */
.c-pagination {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.2rem;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  a {
    display: block;
    padding-inline: 0.5rem;
  }

  [aria-current='page'] {
    border: 1px solid var(--color-secondary-text);
    color: var(--color-black);
  }
}

.c-pagination__overflow {
  align-self: flex-end;
}

/* Subheader Org Branding */
.c-subheader {
  display: grid;
  gap: var(--space-base);
  margin-bottom: 25px;
}

@media (min-width: 1000px) {
  .c-subheader {
    gap: var(--space-lg);
    grid-template-columns: auto 1fr auto;
    margin-block-start: var(--space-lg);

    .c-headermenugroup {
      grid-column: 3;
    }

    .c-links-org {
      grid-column: 2;
      grid-row: 1;
    }
  }
}

.c-logo-org {
  img {
    display: block;
    inline-size: clamp(8rem, 26vw, 12rem);
    block-size: auto;
    background-color: var(--color-white);
  }

  // If <img> isn't present, then use text label:

  p {
    margin: 0;
    font-size: 1.1rem;
  }
}

img.org-logo {
  inline-size: clamp(6rem, 26vw, 10rem);
}

.c-links-org {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.c-links-org__ucop,
.c-links-org__uc3-helpdesk {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.c-links-org li {
  max-width: 300px;
}

/* Notifications */
.notification-area {
  margin-bottom: 5px;
}

.c-notification--info,
.c-notification--warning,
.c-notification--danger {
  padding: 5px;
  border-radius: 10px;
  margin: 2px 0;

  p {
    margin: 0;
  }
}

.c-notification--info {
  background-color: var(--color-green);
  color: var(--color-grey);

  a {
    color: var(--color-grey);
    text-decoration: underline;
  }
}

.c-notification--warning {
  background-color: var(--color-gold);
  color: var(--color-black);

  a {
    color: var(--color-black);
    text-decoration: underline;
  }
}

.c-notification--danger {
  background-color: var(--color-red);
  color: var(--color-grey);

  a {
    color: var(--color-grey);
    text-decoration: underline;
  }
}

#maincontent>div.static-page {
  max-width: 95%;
  margin-bottom: 25px;
}

#maincontent>div.row {
  margin-bottom: 10px;
}

#maincontent>div.row>div[class^="col-"] {
  padding: 0;
}

form.paginable-action .input-group {
  margin-top: 8px;
}

div.paginable div.row {
  padding: 0;
}

/* Tables */
table {
  margin-top: 10px;
}

th a {
  color: var(--color-white);
}

/* Tabs */
ul.nav-tabs li {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  a {
    color: var(--color-white);
    font-weight: bold;
  }

  a:hover {
    color: var(--color-blue-dark);
    font-weight: bold;
  }
}

ui.nav-tabs li:hover {
  background-color: var(--color-grey);
  color: var(--color-blue-dark);
}

ul.nav-tabs li.active {
  background-color: var(--color-white);
  color: var(--color-blue-dark);
  border-bottom-color: transparent;

  a {
    color: var(--color-blue-dark);
    font-weight: bold;
  }
}

/* Login / Sign Up */
.c-login {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
  inline-size: clamp(18rem, 35vw, 22rem);
  padding: var(--space-base);
  border: 1px solid var(--color-blue-dark);

  form {
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
  }

  [aria-disabled='true'] {
    // #1
    border: 1px solid var(--color-black);
    background-color: var(--color-black);
    cursor: not-allowed;
  }

  p {
    margin: 0;
  }

  .c-serialnav {
    margin-inline-end: auto;
  }
}

.c-login__header {
  h2 {
    margin-block-start: 0;
    margin-block-end: var(--space-sm);
    color: var(--color-blue-dark);
    font-size: 1.2rem;
  }
}

.c-login__required-field {
  font-size: 0.9rem;
  font-style: italic;
  text-align: end;

  &[hidden] {
    display: none;
  }
}

.c-login__invalid-notification {
  display: flex;
  align-items: center;
  color: var(--color-red);

  &[hidden] {
    display: none;
  }
}

.c-login__invalid-notification.errors-fixed {
  color: var(--color-green);
}

.c-login__pseudo-description {
  // #2
  margin-block-start: -var(--space-base);
  font-size: 0.9rem;
}

.c-login__footer {
  margin-block-start: auto;
  margin-inline-start: auto;
}

/* Write Plan Guidance/Comments sections */
.nav-pills>li {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  border: 1px solid var(--color-primary-background);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  a {
    color: var(--color-primary-text);
  }
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus,
.nav-pills>li>a.active,
.nav-pills>li>a:focus.active,
.nav-pills>li>a:hover.active {
  background-color: var(--color-secondary-background);
  color: var(--color-secondary-text);
  border: 1px solid var(--color-border-default);

  a {
    color: var(--color-secondary-text);
  }
}

.nav-pills>li:last-child>a:hover,
.nav-pills>li:last-child>a:focus,
.nav-pills>li:last-child>a.active,
.nav-pills>li:last-child>a.active:focus,
.nav-pills>li:last-child>a.active:hover {
  border-right: 0px;
}

.nav-tabs>li>a,
.nav-pills>li>a {
  border-radius: 0px;
}

li.active a[data-toggle="pill"] {}

/* Accordions */
div.panel-heading {
  background-color: var(--color-blue-dark);
  color: var(--color-white);

  a {
    color: var(--color-white);
  }
}

/* Forms */
input[disabled="disabled"] {
  background-color: var(--color-grey);
}

.form-horizontal .control-label {
  margin-bottom: 5px;
  text-align: left;
}

fieldset legend {
  font-size: 1.1em;
}

.c-checkbox {
  input[type="checkbox"] {
    // display: inline-block;
    inline-size: auto;
  }

  label {
    display: inline-block;
    //align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.c-checkbox__general-description {
  font-size: 0.9rem;
}

.c-checkbox.is-required {
  label::after {
    content: '*';
    margin-inline-start: 0.2rem;
    color: var(--color-red);
  }
}

// 'invalid' state:
.c-checkbox.is-invalid {
  --border-width: 5px;

  margin-inline: calc(#{-var(--space-sm)} + var(--border-width) * -1);
  padding-inline: var(--space-sm);
  border-left: var(--border-width) solid var(--color-red);

  input+label::before {
    border: 1px solid var(--color-red);
  }
}

.c-checkbox__invalid-description {
  color: var(--color-red);

  &[hidden] {
    display: none;
  }
}

.c-facet__list li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 5px;
}

.c-facet__list input[type="checkbox"] {
  align-self: flex-start;
}

@media (max-width: 1000px) {
  div.c-faceting {
    flex-flow: row wrap;
  }
}

/* Modal Dialogs */
.modal-dialog {
  width: 80%;
}

.modal-body #modal-search-repositories-results,
.modal-body #modal-search-metadata_standards-results {
  margin: 0 20px 25px 20px;
}

.modal-search-result {
  padding-left: 0;
}

.modal-search-result .modal-search-result-selector,
.modal-search-result .modal-search-result-unselector {
  padding: 5px 25px;
}

.modal-search-result .modal-search-result-unselector {
  background-color: var(--color-red);
  color: var(--color-grey);
}

.modal-search-result .tags .facet {
  background-color: var(--color-blue);
  color: var(--color-blue-dark);
  padding: 5px 10px;
}

/* Mobile Menu */
#mobile-navigation {
  overflow-y: scroll;
}

ul.mobile-menu-submenu {
  margin-left: 15px;
  margin-bottom: 5px;
}


/* Annoying one-off styles */
.edit_plan button[type="submit"] {
  margin-top: 10px;
}

div.user_request_reset_password_form {
  padding-top: 25px;

  #user_email {
    inline-size: 30%;
  }

  .btn {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

#sign-in-bypass-sso {
  float: right;
}

div.usage-button {
  text-align: center;
}

#users_joined_chart,
#plans_created_chart {
  margin-top: 10px;
}

#preferences_registration_form div.preferences .btn-default,
#super-admin-switch-org .btn-default,
.modal-body .btn-default,
.modal-body .btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn.btn-default[data-toggle="tooltip"] {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.dmpui-frontend-header ul li a.dmpui-frontend-btn-primary {
  color: var(--color-white);
}

.progress-bar {
  border: 1px solid var(--color-blue-dark);
  background-color: var(--color-grey);
  color: var(--color-black);

  div {
    background-color: var(--color-blue);
  }
}

#maincontent>div.static-page p.join-us-reasons {
  margin-bottom: 10px;
}

div.citation,
div.add-related-work {
  margin-bottom: 20px;
}

div.citation span {
  padding-left: 0;
}

#editorial-board div.row {
  margin-bottom: 25px;
}

#editorial-board div.row div.board-bio {
  padding-left: 35px;
}

.c-search .fineprint {
  font-size: 0.7rem;
  font-weight: 400;
}