/*
  Colors
  - to be used as utilities within this file to define text+bg colors
*/
:root {
  --color-black: #05042E;
  --color-white: #fff;
  --color-blue-dark: #004EAA;
  --color-blue: #54D8FF;
  --color-blue-light: #F0FBFF;
  --color-gold: #FFC845;
  --color-grey: #F2F2F2;
  --color-green: #006C6C;
  --color-red: #D3273E;

  /*
   variables to define look and feel
  */
  --color-primary-background: var(--color-blue-dark);
  --color-primary-text: var(--color-white);

  --color-secondary-background: var(--color-white);
  --color-secondary-text: var(--color-blue-dark);

  --color-muted-background: var(--color-grey);

  /* Bootstrap overrides */
  --color-navbar-background: var(--color-white);
  --color-navbar-background-active: var(--color-white);
  --color-icon-bar-background: var(--color-white);
  --color-navbar-text: var(--color-blue-dark);
  --color-navbar-text-hover: var(--color-blue-dark);
  --color-navbar-text-disabled: var(--color-grey);
  --color-heading-text: var(--color-black);
  --color-link-text: var(--color-blue-dark);
  --color-navbar-link-text: lighten(var(--color-navbar-text), 15%);
  --color-org-navbar-links: var(--color-blue-dark);
  --color-org-navbar-links-hover: var(--color-blue-dark);
  --color-dropdown-inverse-text: var(--color-white);
  --color-dropdown-inverse-text-hover: var(--color-white);
  --color-text-red: var(--color-red);
  --color-text-grey: var(--color-grey);
  --color-text-black: var(--color-black);

  // Borders colors
  --color-border-default: var(--color-blue-dark);
  --color-border-light: var(--color-blue);
  --color-dropdown-inverse-border: var(--color-blue-dark);
  --color-navbar-border: darken(var(--color-navbar-background), 10%);

  // Focus colors
  --color-focus-outline: var(--color-blue);

  // Spacing Variables:
  --space-base: 1rem;
  --space-sm: var(--space-base) * 0.5;
  --space-lg: var(--space-base) * 2;
}