@use '../variables/colours' as *;
@use '../variables/typography' as *;

/* Controls the suggestion list of a JQuery autocomplete */
ul.ui-menu {
  width: 60%;
  list-style: none;
  background: var(--color-secondary-background);
  padding-left: 0;

  .ui-menu-item {
    color: var(--color-secondary-text);
    border-bottom: 1px solid var(--color-border-default);
    border-left: 1px solid var(--color-border-default);
    border-right: 1px solid var(--color-border-default);
    padding: 5px 10px 5px 10px;

    .ui-menu-item-wrapper {
      background-color: inherit;
      font-family: var(--font-family);
    }
  }

  .ui-menu-item:hover,
  .ui-menu-item:focus {
    color: var(--color-primary-text);
    background-color: var(--color-primary-background);
  }
}

#profile-org c-checkbox {
  width: 100%;
}