@use '../variables/colours' as *;

.ui-datepicker-header {
  background: var(--color-secondary-background);
  color: var(--color-secondary-text);
  border: none;
}

.ui-datepicker-prev,
.ui-datepicker-next,
.ui-datepicker-prev:hover,
.ui-datepicker-prev:focus,
.ui-datepicker-next:hover,
.ui-datepicker-next:focus {
  background: var(--color-primary-background);
  color: var(--color-primary-text);

  .ui-icon {
    background-attachment: none;
    background-clip: none;
    background-color: var(--color-primary-background);
    background-image: none;
    background-origin: none;
    background-position: 1px 1px;
    color: var(--color-primary-text);
  }
}

.ui-datepicker-next:before {
  content: '\f0da';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  width: 15px;
}