@use '../variables/bootstrap' as *;

/* For dark (inverse) navbars */
.inverse-dropdown {
  background-color: var(--dropdown-inverse-bg) !important;
  border-color: var(--dropdown-inverse-border) !important;

  &>li>a {
    color: var(--dropdown-inverse-text) !important;

    &:hover {
      color: var(--dropdown-inverse-text-hoover) !important;
      background-color: var(--dropdown-inverse-bg-hoover) !important;
    }
  }

  .active a {
    color: var(--dropdown-inverse-text-hoover) !important;
    background-color: var(--dropdown-inverse-bg-hoover) !important;
  }
}