@use '../variables/colours' as *;
@use "../../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss" as *;

.template-table-filters .navbar-nav>li>a {
  color: var(--color-secondary-text);
  padding: 5px calc(var(--grid-gutter-width) / 2) 5px 5px;
}