// Import locally defined variables. Load this before 'bootstrap'

@use "variables";

// @use "blocks";

@use "blocks/accessibility";
@use "blocks/modal_search";
@use "blocks/new_window_popup";
@use "blocks/question_form";
@use "blocks/spinner";
@use "blocks/tables";
@use "blocks/tooltips";

@use "dmptool/authentication";
@use "dmptool/guidance";
@use "dmptool/public_plans";
@use "dmptool/promotion";
@use "dmptool/klaro";

// @use "utils";

// Pull in the webpacker managed copy of Bootstrap Stylesheets
@use "bootstrap-select/sass/bootstrap-select";

// Pull in the webapcker managed copy of JQuery-UI Stylesheets
// we are using the Datepicker and Sortable at the very least
@use "jquery-ui-sass/assets/sass/jquery-ui";

@use '@fortawesome/fontawesome-free/scss/fontawesome';
// Uncomment this line if you plan on using brand icons (Twitter, Github ...)
@use '@fortawesome/fontawesome-free/scss/regular';
@use '@fortawesome/fontawesome-free/scss/solid';

// DMPTool additional styling that is not part of the dmptool-ui repo
// Import new DMPTool v5 styling
@use "dmptool_v5/app";
@use "dmptool_v5/overrides";